/*다크모드 연습*/

:root {
    --background: white --textColor: black;
}

[data-color-mode='dark'] {

    --background: #000 -textColor: white;
}


body {
  background-color: var(--background);
  color: var(--textColor);
}


https://sonblog.vercel.app/projects/nextjs-blog/darkmode